*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #0b0b0b;
    color: #2196F3;
}

.container{
    padding: 0px 5%;
    background-color: #040404;
}

.logo{
    width: 7%;
    height: 7%
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
}

nav ul li a{
    color: #2196F3;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-family: 'Black Ops One', cursive;
}

nav ul li a::before{
    content:'';
    width:0;
    height: 3px;
    background: #2196F3;
    position: absolute;
    right: 0;
    top: 120%;
    transition: 0.5s;
}

nav ul li a:hover::before{
    width: 100%;
}

nav ul li a::after{
    content:'';
    width:0;
    height: 3px;
    background: #2196F3;
    position: absolute;
    left: 0;
    bottom: 120%;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

