*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #0b0b0b;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(pics/background.png);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
}

.container{
    padding: 0px 5%;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: #040404; */
    position: relative;
}

.logo{
    padding: 10px;
    width: 10%;
    height: 10%;
    min-height: 70px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    
}

nav ul li a{
    color: #2196F3;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    padding: 5px 20px;
    font-family: 'Black Ops One', cursive;
}

ul li a:hover{
	transition: 0.5s;
	background-color: #2196F3;
	color: white;
}

nav ul li a::before{
    content:'';
    width:0;
    height: 3px;
    background: #2196F3;
    position: absolute;
    right: 0;
    top: 120%;
    transition: 0.5s;
}

nav ul li a:hover::before{
    width: 100%;
}

nav ul li a::after{
    content:'';
    width:0;
    height: 3px;
    background: #2196F3;
    position: absolute;
    left: 0;
    bottom: 120%;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.hText{
    margin: 15% 20%; 
    font-size: 60px;
    position: relative;
}

.hText h1 span{
    color: #2196F3;
}

/* ----------about--------- */

#about{
    padding: 80px 0;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px;
}

.picAbout{
    flex-basis: 35%;
}

.picAbout img{
    width: 80%;
    border-radius: 15px;
}

.aboutContent{
    padding: 20px 0px;
    flex-basis: 60%;
}

.subTitle{
    font-size: 60px;
    font-weight: bolder;
    color: #2196F3;
}

